{
 :templates {:alfred "osascript -e 'tell application \"Alfred 3\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"}
 :applications {:binded_apps ["^com\\.apple\\.Safari$", "^com\\.apple\\.finder$", "^com\\.stairways\\.keyboardmaestro\\.editor$"]}
 :simlayers {:caps_lock-mode {:key :caps_lock}
             :1-mode {:key :1}
             :2-mode {:key :2}
             :3-mode {:key :3}
             :4-mode {:key :4}
             :q-mode {:key :q}
             :w-mode {:key :w}
             :e-mode {:key :e}
             :r-mode {:key :r}
             :t-mode {:key :t}
             :y-mode {:key :y}
             :u-mode {:key :u}
             :i-mode {:key :i}
             :o-mode {:key :o}
             :p-mode {:key :p}
             :a-mode {:key :a}
             :s-mode {:key :s}
             :d-mode {:key :d}
             :f-mode {:key :f}
             :g-mode {:key :g}
             :z-mode {:key :z}
             :x-mode {:key :x}
             :c-mode {:key :c}
             :v-mode {:key :v}
             :b-mode {:key :b}
             :n-mode {:key :n}
             :m-mode {:key :m}
             :right_command-mode {:key :right_command :condi :binded_apps}
             :spacebar-mode {:key :spacebar}},
 :main [
              {:des "§ to ~"
               :rules [[:non_us_backslash :!Sgrave_accent_and_tilde]]}
              {:des "Search contexts"
               :rules [[:grave_accent_and_tilde :!TOo]]}
              {:des "Actions for binded apps"
               :rules [:right_command-mode
                 [:a :!TSOa]
                 [:b :!TSOb]
                 [:c :!TSOc]
                 [:d :!TSOd]
                 [:e :!TSOe]
                 [:f :!TSOf]
                 [:g :!TSOg]
                 [:h :!TSOh]
                 [:i :!TSOi]
                 [:j :!TSOj]
                 [:k :!TSOk]
                 [:l :!TSOl]
                 [:m :!TSOm]
                 [:n :!TSOn]
                 [:o :!TSOo]
                 [:p :!TSOp]
                 [:q :!TSOq]
                 [:r :!TSOr]
                 [:s :!TSOs]
                 [:t :!TSOt]
                 [:u :!TSOu]
                 [:v :!TSOv]
                 [:w :!TSOw]
                 [:x :!TSOx]
                 [:y :!TSOy]
                 [:z :!TSOz]]}
              {:des "capskey",
               :rules [:caps_lock-mode
                 [:open_bracket :!TOopen_bracket]
                 [:close_bracket :!TOclose_bracket]
                 [:quote :!TOquote]
                 [:comma :!TOcomma]
                 [:period :!TOperiod]
                 [:slash :!TOslash]
                 [:a :!TOa]
                 [:b :!TOb]
                 [:c :!TOc]
                 [:d :!TOd]
                 [:e :!TOe]
                 [:f :!TOf]
                 [:g :!TOg]
                 [:h :!TOh]
                 [:i :!TOi]
                 [:j :!TOj]
                 [:k :!TOk]
                 [:l :!TOl]
                 [:m :!TOm]
                 [:n :!TOn]
                 [:o :!TOo]
                 [:p :!TOp]
                 [:q :!TOq]
                 [:r :!TOr]
                 [:s :!TOs]
                 [:t :!TOt]
                 [:u :!TOu]
                 [:v :!TOv]
                 [:w :!TOw]
                 [:x :!TOx]
                 [:y :!TOy]
                 [:z :!TOz]
                 [:1 :!TO1]
                 [:2 :!TO2]
                 [:3 :!TO3]
                 [:4 :!TO4]
                 [:5 :!TO5]
                 [:6 :!TO6]
                 [:7 :!TO7]
                 [:8 :!TO8]
                 [:9 :!TO9]
                 [:0 :!TO0]]}
        {:des "o-mode (open app)"
         :rules [:o-mode
                 [:t [:km "open: Telegram"]]
                 [:b [:km "open: Bear"]]
                 [:s [:km "open: Safari"]]
                 [:f [:km "open: Fantastical"]]
                 [:e [:km "open: Email"]]
                 [:m [:km "open: Spotify"]]
                 [:w [:km "open: Things"]]
                 [:j [:km "open: Hyper"]]
                 [:k [:km "open: KM"]]
                 [:g [:km "open: GitHub"]]
                 [:a [:km "open: Alfred"]]
                 [:d [:km "open: Discord"]]
                 [:q [:km "open: MoneyWiz"]]
                 [:c [:km "open: Timing"]]
                 [:u [:km "open: Grammarly"]]
                 [:r [:km "open: Sublime"]]
                 [:1 [:km "open: Unity Hub"]]
                 [:2 [:km "open: Caprine"]]
                 [:period [:km "open: dotfiles in Finder"]]]}
        {:des "skey (essential actions)"
         :rules [:s-mode
                 ;[:k :!CTperiod]
                 [:k :!CTO9] ; Typintar quick search
                 [:j :!CTO9]]} ; Typintar quick search (again)
        {:des "wkey (web urls and non-web addresses)"
         :rules [:w-mode
                 [:d [:!CTOS0]] ; Dragonglass urls and essentials
                 [:u [:!CTOS9]] ; Personal urls
                 [:p [:!CTOS8]]]} ; Personal essentials
        ;{:des "tkey (type)"
        ; :rules [:t-mode
        ;         [:q [:!CTOSP]] ; Questions
        {:des "mkey (make)"
         :rules [:m-mode
                 [:e [:km "m: new spark email"]] ; New email in Spark
                 [:t [:!CT9]]]} ; Add to Typinator 
        {:des "pkey (words and phrases)"
         :rules [:p-mode
                 [:d [:!Sd :r :a :g :o :n :g :l :a :s :s]] ; Dragonglass
                 [:a [:!St :h :a :n :k :s]]]} ; Thanks
        {:des "zkey (Trello)"
         :rules [:z-mode
                 [:i [:km "trello: open Ideas"]]
                 [:l [:km "trello: open Learn"]]
                 [:n [:km "trello: open Watch list"]]
                 [:b [:km "trello: open Books"]]]}
        {:des "ckey (text)"
         :rules [:c-mode
                 [:d [:km "c: search text in Google"]]
                 [:s [:km "c: open as URL"]]
                 [:n [:!CTOSn]] ; Search selected text in alfred-web-searches
                 [:u [:!CTOSm]]]} ; Selected text actions
        {:des "qkey (quick actions)"
         :rules [:q-mode
                 [:n [:km "q: new text file"]]]} ; Open new plain text file
        {:des "akey (Alfred)"
         :rules [:a-mode
                 [:h [:alfred "run" "iansinnott.keyboardmaestro"]]
                 [:k [:alfred "search repos" "me.lachlan.githubjump"]]
                 [:j [:alfred "search google" "net.deanishe.alfred-searchio"]]
                 [:l [:alfred "search google lucky" "net.deanishe.alfred-searchio"]]
                 [:y [:alfred "search youtube" "net.deanishe.alfred-searchio"]]
                 [:p [:alfred "search repos" "net.deanishe.alfred-git-repos"]]
                 [:m [:alfred "search mind node" "com.skibitsky.filessearch"]]
                 [:n [:alfred "search numbers" "com.skibitsky.filessearch"]]
                 [:i [:alfred "search websites" "nikivi.web.searches"]]
                 [:period [:alfred "search keynote" "com.skibitsky.filessearch"]]
                 [:c [:alfred "convert" "net.deanishe.alfred-convert"]]]}]
}