{:profiles
 {:Default {:default true
         :sim     5
         :delay   0
         :alone   50
         :held    100}}
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
           	 :open "open \"%s\""
           	}
; :applications {:binded_apps ["^com\\.apple\\.Safari$", "^com\\.apple\\.finder$", "^com\\.stairways\\.keyboardmaestro\\.editor$"]}
 :input-sources {:en {:language "en"}
                 :lt {:language "lt"}
                 :ru {:language "ru"}}
 :simlayers {:caps_lock-mode {:key :caps_lock}
             :1-mode {:key :1}
             :2-mode {:key :2}
             :3-mode {:key :3}
             :4-mode {:key :4}
             :q-mode {:key :q}
             :w-mode {:key :w}
             :e-mode {:key :e}
             :cursor-management {:key :r}
             :t-mode {:key :t}
             :y-mode {:key :y}
             :u-mode {:key :u}
             :i-mode {:key :i}
             :o-mode {:key :o}
             :p-mode {:key :p :condi :en}
             :a-mode {:key :a}
             :s-mode {:key :s}
             :windows-management {:key :f}
             :z-mode {:key :z}
             :x-mode {:key :x}
             :c-mode {:key :c}
             :b-mode {:key :b}
             :n-mode {:key :n}
             :l-mode {:key :l}
             :m-mode {:key :m}
             :slash-mode {:key :slash}
             :spacebar-mode {:key :spacebar}},
 :main [
              {:des "Swap : with ; in English layout"
               :rules [[:semicolon :!Ssemicolon :en]
                 [:!Ssemicolon :semicolon :en]]}
              {:des "Swap : with ; in Lithuanian layout"
               :rules [[:#Psemicolon :!Ssemicolon :lt]
                 [:!Ssemicolon :semicolon :lt]]}
              ; {:des "§ to ~"
              ;  :rules [[:non_us_backslash :!Sgrave_accent_and_tilde]]}
              {:des "Right ⌘ to ⌘ + ⇥"
               :rules [[:right_command :!Ctab]]}
              {:des "Right Option to Grave accent"
               :rules [[:right_alt :grave_accent_and_tilde]]}
              {:des "capskey",
               :rules [:caps_lock-mode
                 [:open_bracket :!TOopen_bracket]
                 [:close_bracket :!TOclose_bracket]
                 [:quote :!TOquote]
                 [:comma :!TOcomma]
                 [:period :!TOperiod]
                 [:slash :!TOslash]
                 [:a :!TOa]
                 [:b :!TOb]
                 [:c :!TOc]
                 [:d :!TOd]
                 [:e :!TOe]
                 [:f :!TOf]
                 [:g :!TOg]
                 [:h :!TOh]
                 [:i :!TOi]
                 [:j :!TOj]
                 [:k :!TOk]
                 [:l :!TOl]
                 [:m :!TOm]
                 [:n :!TOn]
                 [:o :!TOo]
                 [:p :!TOp]
                 [:q :!TOq]
                 [:r :!TOr]
                 [:s :!TOs]
                 [:t :!TOt]
                 [:u :!TOu]
                 [:v :!TOv]
                 [:w :!TOw]
                 [:x :!TOx]
                 [:y :!TOy]
                 [:z :!TOz]
                 [:1 :!TO1]
                 [:2 :!TO2]
                 [:3 :!TO3]
                 [:4 :!TO4]
                 [:5 :!TO5]
                 [:6 :!TO6]
                 [:7 :!TO7]
                 [:8 :!TO8]
                 [:9 :!TO9]
                 [:0 :!TO0]]}
        {:des "o-mode (open)"
         :rules [:o-mode
                 [:x [:km "open: Tower"]]
                 [:t [:km "open: Telegram"]]
                 [:s [:km "open: Safari"]]
                 [:f [:km "open: Fantastical"]]
                 [:e [:km "open: Email"]]
                 [:m [:km "open: Spotify"]]
                 [:w [:km "open: Things"]]
                 [:i [:km "open: iTerm"]]
                 [:k [:km "open: KM"]]
                 [:d [:km "open: Downloads in Finder"]]
                 [:q [:km "open: Slack"]]
                 [:u [:km "open: Unity Hub"]]
                 [:v [:!TOSv]] ; Open dotfiles
                 [:period [:km "open: dotfiles in Finder"]]]}
        {:des "skey (actions and arrows)"
         :rules [:s-mode
                 [:##l [:right_arrow]]
                 [:##h [:left_arrow]]
                 [:##k [:up_arrow]]
                 [:##j [:down_arrow]]
                 [:d :delete_or_backspace] ; ⌫
                 [:f :return_or_enter] ; ↩
                 [:spacebar :!Cz] ; ⌘ + Z
                 [:open_bracket :!CSz] ; ⌘ + ⇧ + Z
                 [:p :!Creturn_or_enter] ; ⌘ + ↩
                 [:o :!CTO9] ; Typinator quick search
                 [:u :!CTO8]]} ; iTerm2 floating window
        {:des "wkey (text data and ⌥ + arrows)"
         :rules [:w-mode
                 [:##l [:!Oright_arrow]]
                 [:##h [:!Oleft_arrow]]
                 [:##j [:!Fdown_arrow]]
                 [:##k [:!Fup_arrow]]
                 [:o [:!CTOS5]] ; Things Today lists
                 [:i [:!CTOS4]] ; Things tools lists
                 [:u [:!CTOSu]] ; Unicode symbols
                 [:p [:!CTOS8]] ; Personal essentials
                ;;  [:e [:!CTOS6]] ; Current Task
                 [:d [:!CTOSd]] ; Paste Clipboard Palette
                 [:c [:!CTOc]] ; Futuclass urls and essentials
                 [:r [:!CTOS7]]]} ; Kitokia urls and essentials
        {:des "mkey (make)"
         :rules [:m-mode
                 [:z [:!CTOSz]] ; Capture Fullscreen in CleanShot
                 [:x [:!CTOSx]] ; Capture Area in CleanShot
                 [:a [:!CTOSa]] ; Capture Area and Annotate in CleanShot
                 [:s [:!CTOSs]] ; Capture Area and Copy to Clipboard in CleanShot
                 [:d [:!CTOd]] ; Text Sniper
                 [:c [:!CTOSc]] ; Record video in CleanShot
                 [:v [:!CTOSv]] ; Capture Scroll Area in CleanShot
                 [:b [:!CTOSb]] ; Capture Area and Pin to the screen in CleanShot
                 [:t [:!CT9]] ; Add to Typinator
                 [:f [:!CTOf]]]} ; New entry in Fantastical
        {:des "pkey (text snippets)"
         :rules [:p-mode
                 [:q [:!Sd :e :b :u :g :period :!Sl :o :g :!S9 :!S0 :semicolon :left_arrow :left_arrow]] ; Debug.Log(^);
                 [:t [:slash :slash :spacebar :!St :!So :!Sd :!So :!Ssemicolon :spacebar]] ; // TODO: ^
                 [:w [:t :!Ssemicolon :s :c :e :n :e :spacebar]] ; // t:scene ^
                 [:d [:!Sd :r :a :g :o :n :g :l :a :s :s]] ; Dragonglass
                 [:s [:open_bracket :!Ss :e :r :i :a :l :i :z :e :!Sf :i :e :l :d :close_bracket :spacebar :p :r :i :v :a :t :e :spacebar]] ; [SerializeField] private
                 [:f [:f :m :t :period :!Sp :r :i :n :t :l :n :!S9 :!S0 :left_arrow]] ; fmt.Println(^)
                 [:c [:!Sf :u :t :u :c :l :a :s :s]] ; Futuclass
                 [:a [:!St :h :a :n :k :spacebar :y :o :u :!S1]]]} ; Thank you!   
        {:des "rkey (cursor management)"
         :rules [:cursor-management
         	  [:p [:km "cursor: center of active window"]]]}
        {:des "xkey (Spotify)"
         :rules [:x-mode
                 [:j [:alfred "spot_mini" "com.vdesabou.spotify.mini.player"]]
                 ; [:m [:alfred "show_alfred_playlist" "com.vdesabou.spotify.mini.player"]]
                 [:c [:alfred "show_current_track" "com.vdesabou.spotify.mini.player"]]
                 [:s [:alfred "share" "com.vdesabou.spotify.mini.player"]]
                 [:u [:alfred "shuffle" "com.vdesabou.spotify.mini.player"]]
                 [:o [:alfred "show_search_online" "com.vdesabou.spotify.mini.player"]]
                 [:n [:alfred "next" "com.vdesabou.spotify.mini.player"]]
                 [:p [:alfred "show_playlists" "com.vdesabou.spotify.mini.player"]]
                 [:m [:alfred "add_current_track_to" "com.vdesabou.spotify.mini.player"]]
                 [:z [:alfred "remove_current_track_from" "com.vdesabou.spotify.mini.player"]]
                 [:r [:alfred "song_radio" "com.vdesabou.spotify.mini.player"]]
                 [:a [:alfred "artist_radio" "com.vdesabou.spotify.mini.player"]]]}
        {:des "ckey (selected text)"
         :rules [:c-mode
                 [:q [:km "c: execute in iTerm"]]
                 [:w [:km "c: open as URL"]]
                 [:e [:km "c: search text in DuckDuckGo"]]
                 [:a [:!Oleft_arrow :!OSright_arrow]] ; Highlight word
                 [:s [:!Cleft_arrow :!CSright_arrow]] ; Highlight line
                 [:i [:km "c: add to Things"]] ; Add selection to Things Inbox
                 [:x [:!CTOSm]]]} ; Selected text actions
        {:des "ikey (Dash)"
         :rules [:i-mode
                 [:u [:alfred "search dash" "com.kapeli.dash.workflow" "!unity: "]]
                 [:n [:alfred "search dash" "com.kapeli.dash.workflow" "!net: "]]
                 [:j [:alfred "search dash" "com.kapeli.dash.workflow" "!js: "]]
                 [:d [:alfred "search dash" "com.kapeli.dash.workflow" "!docker: "]]
                 [:m [:alfred "search dash" "com.kapeli.dash.workflow" "!man: "]]]}
        {:des "slashkey"
         :rules [:slash-mode
                 [:d :!CTOSe] ; Futuclass Unity
                 [:f :!CTOSf]]} ; Futuclass links
        {:des "qkey (in-app actions | replacement for ⌃ )"
         :rules [:q-mode
                 [:open_bracket :!Topen_bracket]
                 [:close_bracket :!Tclose_bracket]
                 [:semicolon :!Tsemicolon]
                 [:quote :!Tquote]
                 [:comma :!Tcomma]
                 [:period :!Tperiod]
                 [:slash :!Tslash]
                 [:a :!Ta]
                 [:b :!Tb]
                 [:c :!Tc]
                 [:d :!Td]
                 [:e :!Te]
                 [:f :!Tf]
                 [:g :!Tg]
                 [:h :!Th]
                 [:i :!Ti]
                 [:j :!Tj]
                 [:k :!Tk]
                 [:l :!Tl]
                 [:m [:km "Open App Macro Group"]]
                 [:n :!Tn]
                 [:o :!To]
                 [:p :!Tp]
                 [:r :!Tr]
                 [:s :!Ts]
                 [:t :!Tt]
                 [:u :!Tu]
                 [:v :!Tv]
                 [:w :!Tw]
                 [:x :!Tx]
                 [:y :!Ty]
                 [:z :!Tz]
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:6 :!T6]
                 [:7 :!T7]
                 [:8 :!T8]
                 [:9 :!T9]
                 [:0 :!T0]]}
        {:des "akey (Alfred)"
         :rules [:a-mode
                 [:semicolon [:alfred "run" "iansinnott.keyboardmaestro"]]
                 [:l [:alfred "search repos" "me.lachlan.githubjump"]]
                 [:k [:alfred "search bear" "com.drgrib.bear"]]
                 [:p [:alfred "search repos" "net.deanishe.alfred-git-repos"]]
                 [:w [:alfred "search tabs" "net.deanishe.alfred.safari"]]
                 [:e [:alfred "search history" "net.deanishe.alfred.safari"]]
                 [:r [:alfred "search itabs" "net.deanishe.alfred.safari"]]
                 [:c [:alfred "convert" "net.deanishe.alfred-convert"]]]}]
}